@import "reset";
@import "variables/global";

body {
    font-family: var(--font-family-main);
    background-color: white;
}

.wrapper {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
