.modal-overlay {
  cursor: pointer;

  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100svw;
  height: 100svh;
  padding: 20px 0;

  background: rgb(0 0 0 / 85%);
}

.modal-content {
  cursor: default;

  position: relative;

  overflow: hidden;

  width: 95vw;
  max-width: calc(95vh * 9 / 16);
  max-height: 95vh;
  

  background: transparent;
}

.closeIcon {
    cursor: pointer;

    position: absolute;
    z-index: 10000;
    top: 16px;
    right: 16px;

    width: 36px;
    height: 36px;
    padding: 4px;

    background-color: white;
    border-radius: 50%;

    &:hover {
        opacity: 0.6;
    }
}