.Button {
    cursor: pointer;

    padding: 22px 56px;

    font-weight: 700;
    color: #fff;

    background: var(--secondary-color);
    border: none;
    outline: none;
    box-shadow: 0 20px 25px 0 rgb(0 0 0 / 5%);

    transition: all 0.2s ease-in;

    &:hover {
        background: #CC9654;
    }

    &.fullWidth {
        width: 100%;
    }

    &.activeTab {
        background: var(--primary-color)
    }
}