.Advantages {
    padding: 140px 20px;
    padding-top: 0;
    color: var(--text-color);

    & > div:first-child {
        margin-bottom: 50px;
        padding: 80px;
        border-bottom: 1px solid rgb(40 43 34 / 20%);
    }

    .imageWrapper {
        position: absolute;
        bottom: 0;
        left: 50%;

        flex-shrink: 0;

        width: 100px;
        height: 60px;

        opacity: 0;

        transition: all 0.3s ease-in-out;
    }

    .item {
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid rgb(40 43 34 / 20%);

        & > div:first-child {
            position: relative;

            display: flex;
            justify-content: center;

            width: 20%;
            margin: 20px 0;

            color: rgb(40 43 34 / 30%);
            
            transition: all 0.3s ease-in-out;

            & h5 {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 60px;
                height: 60px;

                background-image: url("/assets/circle.svg");
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        & > div:last-child {
            width: 80%;
            height: 100px;
            padding-left: 40px;

            border-left: 1px solid rgb(40 43 34 / 20%);

            transition: all 0.3s ease-in-out;
        }

        &:hover {
            & > div:first-child {
                color: var(--secondary-color);

                & > .imageWrapper {
                    bottom: -110px;
                    left: 25%;

                    width: 340px;
                    height: 240px;

                    opacity: 1;
                }
            }

            & > div:last-child > div:first-child {
                color: var(--secondary-color);
            }
        }
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 860px) {
    .imageWrapper {
        display: none;
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 600px) {
    .Advantages {
        padding: 70px 24px;
        padding-top: 40px;

        & > div:first-child {
            padding: 0;
            padding-bottom: 40px;
        }

        .item {
            & > div:first-child  h5{
                width: 40px;
                height: 40px;
            }

            & > div:last-child {
                height: 80px;
                padding-left: 24px;
            }
        }
    }
}
