.CatalogContent {
    display: grid;
    grid-gap: 48px 32px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr)  minmax(100px, 1fr);

    width: 100%;
    max-width: 100%;
}

.skeletonItem {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    .skeletonImage{
        width: 100%;
        height: 100%;
        padding-bottom: 130%;
        background-color: rgb(236 235 235);
    }   

    .skeletonButton{
        flex-shrink: 0;
        width: 146px;
        height: 24px;
        background-color: rgb(236 235 235);
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 800px) {
    .CatalogContent {
        grid-template-columns: minmax(200px, 1fr);
        place-items: center;
    }
}
