.FirstScreen {
    position: relative;
    min-height: 687px;
    

    // background-image: url("../../../shared/assets/background/firstScreen.jpeg");
    // background-repeat: no-repeat;
    // background-position: center 25%;
    // background-size: cover;

    background-color: #CBB59C;

    .gradient {
        position: absolute;
        inset: 0;
        background: linear-gradient(
            0deg,
            rgb(0 0 0 / 20%) -13.19%,
            rgb(0 0 0 / 85%) 94.01%
        );
    }

    .content {
        position: relative;
        z-index: 2;

        max-width: 45vw;
        margin-top: 12vh;

        color: white;
        text-align: center;
    }

    .links {
        padding: 12px 32px;
        background-color: var(--secondary-color);
        border-radius: 32px;

        & svg {
            color: white;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .info {
        color: white;
    }
}
/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 810px) {
    .FirstScreen {
        .content {
            max-width: 100%;
            padding: 0 64px;
        }
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 600px) {
    .FirstScreen {
        .content {
            padding: 0 24px;
        }
    }
}
