.FirstScreen {
    position: relative;

    min-height: 687px;

    background-color: #cbb59cb7;
    background-image: url("../../../shared/assets/bg2.jpg");
    background-repeat: no-repeat;
    background-position: 75% 75%;
    background-size: cover;

    .gradient {
        position: absolute;
        inset: 0;
        background: linear-gradient(90deg, rgb(0 0 0 / 70%) 25%, rgb(0 0 0 / 15%) 100%);

    }

    .content {
        position: relative;
        z-index: 2;

        width: calc(100% - 60px);
        margin: 0 auto;
        margin-top: 20vh;

        color: white;
        text-align: center;
    }

    .links {
        padding: 12px 32px;
        background-color: var(--secondary-color) !important;
        border-radius: 32px;

        & svg {
            color: white;

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .info {
        color: white;
    }

    .title {
        max-width: 45%;
        margin-left: 60px;
    }
}
/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 810px) {
    .FirstScreen {
        .content {
            max-width: 100%;
            padding: 0 64px;
        }
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 600px) {
    .FirstScreen {
        .content {
            padding: 0 24px;
        }

        .title {
            max-width: 100%;
            margin-left: 0;
        }
    }
}
