.NowWork {
    position: relative;
    max-width: 100svw;
    padding: 140px 0;

    .swp {
        max-width: 100%;
    }

    .element {
        width: 600px;
    }

    .notActive {
        opacity: 0.5;
    }

    .prevArrow {
        position: absolute;
        z-index: 100;
        top: 50%;
        left: calc((100svw - 600px) / 2 - 124px);
        rotate: 180deg;

        width: 60px;
        height: 60px;

        & svg {
            width: 60px;
            height: 60px;
        }
    }

    .nextArrow {
        position: absolute;
        z-index: 100;
        top: 50%;
        right: calc((100svw - 600px) / 2 - 120px);

        width: 60px;
        height: 60px;

        & svg {
            width: 60px;
            height: 60px;
        }
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 850px) {
    .NowWork {
        .element {
            width: 100svw;

            & > div {
                max-width: 100%;

                & > div {
                    width: 100%;
                }
            }
        }

        .nextArrow {
            right: 10px;
        }

        .prevArrow {
            left: 10px;
        }

        & h5 {
            padding: 0 20px;
        }
    }
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 600px) {
    .NowWork {
        padding: 70px 0;
    }
}
