.Header {
    position: relative;
    z-index: 10;

    display: flex;

    margin-bottom: auto;
    padding: 20px;

    background: transparent;

    .burgerIcon {
        display: none;
    }

    .burgerMenu {
        display: none;
    }


    .linksMobile {
        display: flex;
        gap: 16px;
        align-items: center;
        width: 64px;
    }

    .nav a {
        color: white;
    }

    .socialPhone a, .socialPhone svg{
        color: white;
    }
}

.phone {
    color: var(--primary-color);
}

/* stylelint-disable-next-line media-feature-range-notation */
@media screen and (max-width: 950px) {
    .Header {
        .nav {
            display: none;
        }

        .socialPhone {
            display: none;
        }

        .burgerIcon {
            display: block;

            & > g > rect {
                fill: white;
            }
        }

        .linksMobile {
            width: auto;
        }

        .burgerMenu {
            position: absolute;
            z-index: 10;
            top: 0;
            right: 0;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            width: 320px;
            height: calc(100svh);
            padding: 30px 26px;

            background-color: white;
        }
    }
}
